[submodule "ip/soc_components"]
	path = ip/soc_components
	url = https://github.com/cevero/soc_components.git
[submodule "ip/ft_system"]
	path = ip/ft_system
	url = https://github.com/cevero/ft_system.git
