[submodule "ip/soc_components"]
	path = ip/soc_components
	url = https://github.com/cevero/soc_components.git
[submodule "ip/ibex"]
	path = ip/ibex
	url = https://github.com/cevero/ibex.git
[submodule "ip/ftm"]
	path = ip/ftm
	url = https://github.com/cevero/ftm.git
[submodule "ip/cevero_dvfs"]
	path = ip/cevero_dvfs
	url = https://github.com/cevero/cevero_dvfs.git
